.btn{
    -fx-background-color: #4E3283;
    -fx-font-size: 15px;
    -fx-font-family: Dyuthi;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;

}


.lbl{
    -fx-text-fill: #4E3283;
    -fx-font-size: 30px;
    -fx-font-family: Dyuthi;
}

.V_Box{
    -fx-background-color: #ffffff;
    -fx-font-size: 11px;
    -fx-font-family:"Khmer OS System";
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;


}
.colorBackground{
    -fx-background-color: linear-gradient( to right top,#B19CD9, #E0B0FF,#CF9CD9 ,#8D6EC7);

}
.shadowed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 50, 0, 0, 0);

}
.lbls{
    -fx-text-fill: #ffffff;
    -fx-font-size: 150px;
    -fx-font-family: Dyuthi;

}
.lbl1{
    -fx-text-fill: #4E3283;
    -fx-font-size: 17px;
    -fx-font-family: Dyuthi;
}
.VBox{
    -fx-background-color: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: Dyuthi;
    -fx-border-radius: 25px;
    -fx-background-radius: 20px;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;

}
.btn1{
    -fx-background-color: #ba9ad0;
    -fx-font-size: 16px;
    -fx-font-family: Dyuthi;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #ba9ad0;
}
.VBox1{
    -fx-background-color: #ffffff;
    -fx-font-size: 17px;
    -fx-font-family: Dyuthi;
    -fx-text-fill: #4E3283;
    -fx-border-radius: 25px;
    -fx-background-radius: 20px;
    -fx-border-color: #ffffff;
    -fx-border-style: solid;

}




